[Desktop Entry]
Name=WeKan
Exec=webapp-container --app-id="wekan.wekanteam" --webappUrlPatterns https://boards.wekan.team
Icon=assets/logo.svg
Terminal=false
Type=Application
X-Lomiri-Touch=true
